* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: antiquewhite;
}

h1 {
    text-align: center;
}

.cts-index {
  color: rgb(131, 44, 24);
}

.tcs-index {
  color: rgb(206, 121, 9);
}

.zt-index {
  color: rgb(69, 107, 12);
}
